body {
    background-color: #040404;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.header {
    text-align: left;
    padding: 20px;
    background-color: #000302;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
}

.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 3px 5px rgba(254, 254, 254, 0.971);
}

.slogan {
    color: #fff;
    font-size: 24px;
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #040404;
    padding: 10px;
    width: 100%; /* Ajusta el ancho al 100% */
}

.navbar a {
    color: #f9fbfa;
    text-decoration: none;
    font-size: 16px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.section-button {
    margin: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
}

.section-button:hover {
    transform: scale(1.05);
}

.button {
    background-color: #71adee;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 14px;
    margin: 15px auto;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000302;
    color: #fff;
}
