

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(176, 228, 211);
}


.header {
    text-align: center;
    padding: 20px;
    background-color: #036038; 
    color: #fff; 
}

.logo {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0 3px 5px rgba(254, 254, 254, 0.971); 
}

.slogan {
    font-size: 18px;
}


.navbar {
    display:inline;
    justify-content: right;
    padding: 8px;
}

.navbar a {
    color: #f9fbfa; 
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease-in-out; 
}

.navbar a:hover {
    color: #ffcc00; 
}


main {
    padding: 20px;
}

.calendar-section {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #036038; 
    color: #fff; 
}
